
body {
    display: flex;
}

.sidebar {
    width: 55px;
    height: 120vh;
    background-color: #343a40;
    color: white;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #495057;
}

.sidebar i {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.hidden {
    display: none;
}