{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site{% endblock %}

{% block body %}
<h1>Bienvenue sur notre page d'accueil</h1>
<p>Nous sommes heureux de vous accueillir. Explorez notre site pour plus d'informations !</p>
{% endblock %}
