{% extends 'base_admin.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>
    <p>Bienvenue sur le tableau de bord de l'administration.</p>
{% endblock %}